<!DOCTYPE html>
  {% load static %}
  
  <html lang="en" dir="ltr">
    <head>
      <title>NRGY Admin</title>
      {% include 'style.html' %}
    </head>
  
  <body>
      <!-- Header HTML -->
      {% include 'head.html' %}
      <style>
        h1{
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100px;
        }
        h4{
          text-align: center;
          margin: 1% 0;
        }
        th{
          text-align: center;
        }
        td{
          text-align: center;
        }
        table{
          width: 80%;
        }
      </style>
        <!-- Alertes en fonction des actions utilisateurs -->
        <div>
          {% if messages %}
              {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                  <div class="alert alert-success"><strong>{{ message }}</strong></div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                  <div class="alert alert-warning"><strong>{{ message }}</strong></div>
                {% else %}
                  <div class="alert alert-danger"><strong>{{ message }}</strong></div>
                {% endif %}
              {% endfor %}
          {% endif %}
      </div>
      {% if user.is_authenticated  %}
      <h1 class="title">Journal :</h1>
      <form method="post" >
        {% csrf_token %}
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <h4>Groupe</h4>
              <select name ='groupe' id='groupe' class="form-control">
                <option></option>
              </select>
            </div>
            <div class="col-sm">
              <h4>Tag</h4>
              <select name ='tag' id='tag' class="form-control">
              <option value=''></option>
              </select>
            </div>
            <div class="col-sm">
              <h4>Device</h4>
              <select name ='name' id='name' class="form-control">
              </select>
            </div>
            <div class="col-sm">
              <h4>Type de message</h4>
              <select name='select_type' id='select_type' class="form-control">
                <option value='0'></option>
                <option value='F1'>Ligne de vie</option> 
                <option value='F3'>Réalisé</option>
                <option value='F4'>Acquittement Programme de marche</option> 
                <option value='F5'>Acquittement Programme hebdomadaire</option> 
                <option value='F6'>Configuration générale</option>
                <option value='F7'>Programme</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <h4>From</h4>
              <input class="form-control" type="datetime-local" name='date_from' id='date_from'> 
            </div>
            <div class="col-sm">
              <h4>To</h4>
              <input class="form-control" type="datetime-local"  name='date_to' id='date_to'>
            </div>
            <div class="col-sm">
              <h4>Filter</h4>
              <input class="form-control" type="text"  name='filter_message' id='filter_message'>
            </div>
            <div class="col-sm">
              <h4>Nombre de messages</h4>
              <input class="form-control" type="text"  value="100" name='limit' id='limit'>
            </div>
          </div>
        </div>
        <div class="text-center mx-auto">
          <button class="btn btn--radius-2 btn--blue btn-outline-sitinnov " style="margin-top: 2%;" type="submit">
              <a class="text-decoration-none text-reset" >Valider</a>
          </button>
        </div>
      </form>
      {{ payloads|json_script:'data' }}
      {{ type|json_script:'names' }}
      {{ devices|json_script:'name_var' }} 
      {{ groupes|json_script:'groupe_var' }} 
      {{ tags|json_script:'tag_var' }} 
      {{ type_message|json_script:'type_message' }}
      <script type="text/javascript" src="{% static 'journal.js' %}"></script>
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          var name = document.getElementById("name");
            name.onchange = function () {
                localStorage["name"] = this.value;
            }
            var type_message = document.getElementById("select_type");
            if (localStorage["select_type"]) { 
              type_message.value = localStorage["select_type"]; 
            }
            type_message.onchange = function () {
                localStorage["select_type"] = this.value;
            }
            var limit = document.getElementById("limit");
            if (localStorage["limit"]) { 
              limit.value = localStorage["limit"]; 
            }
            limit.onchange = function () {
                localStorage["limit"] = this.value;
            }
            var date_from = document.getElementById('date_from');
            if (localStorage['date_from']) { 
              date_from.value = localStorage['date_from']; 
            }
            date_from.onchange = function () {
                localStorage['date_from'] = this.value;
            }
            var date_to = document.getElementById("date_to");
            if (localStorage["date_to"]) { 
              date_to.value = localStorage["date_to"]; 
            }
            date_to.onchange = function () {
                localStorage["date_to"] = this.value;
            }
            var filter_message = document.getElementById('filter_message');
            if (localStorage['filter_message']) { 
              filter_message.value = localStorage['filter_message']; 
            }
            filter_message.onchange = function () {
                localStorage['filter_message'] = this.value;
            }
        });
        </script>
        {% else %}
        <h1 class="title">Veuillez vous connecter</h1>
        {% endif %}
  </body>
  <footer>
      {% include 'footer.html' %}
  </footer>
  
  </html>