<!DOCTYPE html>

  {% load static %}
  
  <html lang="en" dir="ltr">
    <head>
      <title>NRGY Admin</title>
      {% include 'style.html' %}
    </head>
  
  <body>
      <!-- Header HTML -->
      {% include 'head.html' %}
      <style>
        h2{
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 200px;

        }
        h4{
          text-align: center;
          margin: 2% 0;
        }
      </style>
        <!-- Alertes en fonction des actions utilisateurs -->
        <div>
          {% if messages %}
              {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                  <div class="alert alert-success"><strong>{{ message }}</strong></div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                  <div class="alert alert-warning"><strong>{{ message }}</strong></div>
                {% else %}
                  <div class="alert alert-danger"><strong>{{ message }}</strong></div>
                {% endif %}
              {% endfor %}
          {% endif %}
      </div>
      {% if user.is_authenticated  %}
      <h2 class="title">Ordre</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="container" id='container'>
                  <div class="row">
                    <div class="col-sm">
                      <h4>Groupe</h4>
                      <select name ='groupe' id='groupe' style="margin-top: 12%;" class="form-control">
                        <option></option>
                      </select>
                    </div>
                    <div class="col-sm">
                      <h4>Tag</h4>
                      <select name ='tag' id='tag' style="margin-top: 12%;" class="form-control">
                      <option value=''></option>
                      </select>
                    </div>
                    <div class="col-sm">
                      <h4>Device (Choix multiple)</h4>
                      <select name ='name' id='name' class="form-control" multiple>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <h4 style="margin-top: 15%;">Ordre</h4>
                      <select name ='order' id='order' class="form-control">
                        <option></option>
                        <option value="5">Configuration</option>
                        <option value="2">Forcage</option>
                        <option value="1">Programme</option>
                      </select>
                    </div>
                    <div class="col-sm">
                      <h4 style="margin-top: 15%;">Type</h4>
                      <select name ='type' id='type' class="form-control">
                      <option></option>
                      </select>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 5%;" id="input">
                  </div>
                </div>
                <div class="text-center mx-auto">
                    <button class="btn btn--radius-2 btn--blue btn-outline-sitinnov " style="margin-top: 2%;" type="submit">
                        <a class="text-decoration-none text-reset" >Envoyer</a>
                    </button>
                </div>
            </form>
            {{ devices|json_script:'name_var' }} 
            {{ groupes|json_script:'groupe_var' }} 
            {{ tags|json_script:'tag_var' }}
            <script type="text/javascript" src="{% static 'order.js' %}"></script>
  </body>
  {% else %}
  <h2 class="title">Veuillez vous connecter</h2>
  {% endif %}
  <footer>
      {% include 'footer.html' %}
  </footer>
  
  </html>